name: Deploy docker-compose

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      SSH_PRIVATE_KEY:
        description: "PK"
        required: true
        type: string
      SSH_HOST:
        description: "host"
        required: true
        type: string
    #secrets:
     # SSH_PRIVATE_KEY:
      #  required: false
      #SSH_HOST:
      #  required: false

jobs:
  docker-release:
    name: Развертывание приложения
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - uses: kielabokkie/ssh-key-and-known-hosts-action@v1
        with:
          ssh-private-key: ${{ inputs.SSH_PRIVATE_KEY }}
          ssh-host: ${{ inputs.SSH_HOST }}
      
      - name: Update docker-compose
        run: sudo pip install docker-compose
      

  